# Scrap World Population Data from Wikipedia

## Import libraries

In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Soup Creation

In [19]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/World_population"

response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

print(soup.title)
print(soup.title.text)

#print(soup.prettify())  # This line prints the formatted HTML content

<title>World population - Wikipedia</title>
World population - Wikipedia

## For loop to find tables

In [20]:

tables = soup.find_all("table")

dataframes = []  # List to store dataframes

for table in tables:
    rows = table.find_all('tr')[1:]  ## skip first row 
    data = []
    for row in rows:
        cols = row.find_all("td")
        cols = [col.text.strip() for col in cols]  # Call strip() method correctly
        data.append(cols)
    df = pd.DataFrame(data)
    dataframes.append(df)

In [21]:
dataframes[3].head()

,0,1,2,3,4
0,Asia,104.1,"4,641","1,439,090,595 – India","13,515,000 – Tokyo Metropolis(37,400,000 – G..."
1,Africa,44.4,"1,340","0,211,401,000 – Nigeria","09,500,000 – Cairo(20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million i...","13,200,000 – Moscow(20,004,000 – Moscow metr..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City(21,650,000 – São..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City(23,582,649 – New ..."

## Save the Scrapped Data

In [17]:
dataframes[1].to_csv('World Population_Scrapped.csv', index = False, header = True)