In [2]:
import yfinance as yf
import pandas as pd

### Apple Stocks

In [22]:
## define ticker symbol
ticker_symbol = "AAPL"
# get ticker data
ticker_data = yf.Ticker(ticker_symbol)
#ticker_data.info

## get the historical prices for ticker

ticker_df = ticker_data.history(period="1d", start="2010-1-1", end="2024-5-19")
ticker_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,6.444463,6.476771,6.412759,6.461976,493729600,0.0,0.0
2010-01-05 00:00:00-05:00,6.479790,6.509683,6.439027,6.473147,601904800,0.0,0.0
2010-01-06 00:00:00-05:00,6.473149,6.498815,6.363542,6.370185,552160000,0.0,0.0
2010-01-07 00:00:00-05:00,6.393736,6.401285,6.312210,6.358407,477131200,0.0,0.0
2010-01-08 00:00:00-05:00,6.349954,6.401285,6.312513,6.400681,447610800,0.0,0.0

In [23]:
ticker_df['Close'].iloc[-1]

189.8699951171875

In [13]:
ticker_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3618 entries, 2010-01-04 00:00:00-05:00 to 2024-05-17 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3618 non-null   float64
 1   High          3618 non-null   float64
 2   Low           3618 non-null   float64
 3   Close         3618 non-null   float64
 4   Volume        3618 non-null   int64
 5   Dividends     3618 non-null   float64
 6   Stock Splits  3618 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 226.1 KB

### Google Stocks

In [20]:
## define ticker symbol
ticker_googl = "GOOGL"
# get ticker data
tickerdata = yf.Ticker(ticker_googl)
#ticker_data.info

## get the historical prices for ticker

tickerdf = tickerdata.history(period="1d", start="2010-1-1", end="2024-5-19")
tickerdf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,15.689439,15.753504,15.621622,15.684434,78169752,0.0,0.0
2010-01-05 00:00:00-05:00,15.695195,15.711712,15.554054,15.615365,120067812,0.0,0.0
2010-01-06 00:00:00-05:00,15.662162,15.662162,15.174174,15.221722,158988852,0.0,0.0
2010-01-07 00:00:00-05:00,15.250250,15.265265,14.831081,14.867367,256315428,0.0,0.0
2010-01-08 00:00:00-05:00,14.814815,15.096346,14.742492,15.065566,188783028,0.0,0.0

In [24]:
tickerdf['Close'].iloc[-1]

176.05999755859375

In [21]:
tickerdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3618 entries, 2010-01-04 00:00:00-05:00 to 2024-05-17 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3618 non-null   float64
 1   High          3618 non-null   float64
 2   Low           3618 non-null   float64
 3   Close         3618 non-null   float64
 4   Volume        3618 non-null   int64
 5   Dividends     3618 non-null   float64
 6   Stock Splits  3618 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 226.1 KB

### Tesla Stock

In [25]:
## define ticker symbol
ticker_tsla = "TSLA"
# get ticker data
tickerdata_tsla = yf.Ticker(ticker_tsla)
#ticker_data.info

## get the historical prices for ticker

tickerdf_tsla = tickerdata_tsla.history(period="1d", start="2010-1-1", end="2024-5-19")
tickerdf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,15.689439,15.753504,15.621622,15.684434,78169752,0.0,0.0
2010-01-05 00:00:00-05:00,15.695195,15.711712,15.554054,15.615365,120067812,0.0,0.0
2010-01-06 00:00:00-05:00,15.662162,15.662162,15.174174,15.221722,158988852,0.0,0.0
2010-01-07 00:00:00-05:00,15.250250,15.265265,14.831081,14.867367,256315428,0.0,0.0
2010-01-08 00:00:00-05:00,14.814815,15.096346,14.742492,15.065566,188783028,0.0,0.0

In [26]:
tickerdf_tsla['Close'].iloc[-1]

177.4600067138672

In [27]:
tickerdf_tsla.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3496 entries, 2010-06-29 00:00:00-04:00 to 2024-05-17 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3496 non-null   float64
 1   High          3496 non-null   float64
 2   Low           3496 non-null   float64
 3   Close         3496 non-null   float64
 4   Volume        3496 non-null   int64
 5   Dividends     3496 non-null   float64
 6   Stock Splits  3496 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 218.5 KB

In [29]:
import datetime as dt

In [30]:
from datetime import date, timedelta

In [32]:
today = date.today()
d1 = today.strftime("%d-%m-%Y")
print(d1)

19-05-2024